/* SEARCHBAR */

.website_content .search_options {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    
    margin: 10px;
    gap: 20px;
}

/* CHECKBOX CIRCULAR */
.website_content #search_items {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    width: 25px;
    height: 25px;
    
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    
    cursor: pointer;
    transition: all 0.15s ease;
}

.website_content #search_items:hover {
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.7);
}

.website_content #search_items:checked {
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.5);
}

.website_content .search_items {
    display: flex;
    align-items: center;
    gap: 100px;

    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    color: rgba(255, 255, 255, 0.75);
}

.website_content .searchbar {
    position: relative;

    margin-right: 46px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.website_content .searchbar input {
    all: unset;

    width: 106px;
    height: 34px;
    padding-left: 18px;
    padding-right: 31px;

    border: 3px solid;
    border-radius: 25px;
    border-color: rgb(191, 191, 191);
    
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;

    color: rgba(255, 255, 255, 0.75);
    transition: all 0.15s ease 0s;
    &:focus {
        width: 200px;
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255);
    }
    &::placeholder {
        color: rgba(255, 255, 255, 0.3);
        transition: all 0.15s ease 0s;
    }
    &:hover::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
    &:focus::placeholder {
        color: rgba(255, 255, 255, 0.65);
    }
}
.website_content .searchbar img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 11px;

    opacity: 75%;
    z-index: -1;
    transition: all 0.15s ease 0s;
}
.website_content .searchbar input:focus + img {
    opacity: 100%;
}


/* NO RESULTS */
.website_content .no_results {
    /* display: none; */
    display: none;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    

    & p {
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 26px;

        color: rgba(255, 255, 255, 0.5);
    }
}


/* FIRST TITLE */
#first_title {
    padding-top: 15px;

    & .anchor {
        top: -164px;
    }
}

/* FIRST GRID */
#first_grid {
    padding-top: 40px;
}